<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .btn { border: none; background-color:#04AA6D; padding: 14px 28px; font-size: 16px; cursor: pointer; display: inline-block;}btn:hover {background: #eee:}.sucess:hover {background-color: #04AA6Dcolor: white}.success {color: white;}
    .tabla { border: 1px; background-color:#20d2ed; padding: 14px 28px; font-size: 16px; cursor: pointer; display: inline-block;} 
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tangaré</title>
</head>
<body>
    <header>
        <h1>Tangaré Forest Delicatessen</h1>
        <h3><p>Fabricio Aguirre 28 mayo 1979</p></h3>
    </header>

    <article>
        <time>registrado: 14.06.2014, 12:14</time>
        <h2><a href="">Campo para los Productos</a></h2>
        <p>AQUI INGRESAR LOS ARTICULOS</p>
    </article>

    <article>
        <time>registrado: 14.06.2014, 12:14</time>
        <h2><a href="">Campo para los Precios</a></h2>
        <p>Aqui ingresar los precios</p>
    </article>
    <article>
        <time>registrado: 14.06.2014, 12:14</time>
        <h2><a href="">Inventario</a></h2>
        <p>Aqui ingresar las existencias</p>
    </article>
    <a href="http://djangogirls2proyecto.pythonanywhere.com/admin" target="_blank" style="">Ingresar Inventario</a>
    <button class="btn success"><a href="http://djangogirls2proyecto.pythonanywhere.com/admin" target="_blank" style="">Ingresar Productos</a></button>



    <h1>1era Lista de Precios</h1>
  <table class="tabla">
   <tr>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Total</th>
   </tr>
   <tr>
    <td>Cerveza Pilsener</td>
    <td>7</td>
    <td>3</td>
    <td>21</td>
   </tr>
   <tr>
    <td>Vino Gato Negro 750 cc</td>
    <td>7</td>
    <td>3</td>
    <td>21</td>
   </tr>
   <tr>
    <td>Whiskey Jonny Rojo 750 cc</td>
    <td>2</td>
    <td>5</td>
    <td>10</td>
   </tr>
   <tr>
    <td>Ron Bacardi Blanco 750 cc</td>
    <td>20</td>
    <td>2</td>
    <td>40</td>
   </tr>
   <tr>
    <td>Switch Durazno XXL 3lt.</td>
    <td>5</td>
    <td>40</td>
    <td>200</td>
   </tr>
   <tr>
    <td colspan="3">Subtotal</td>
	<td>250</td>
   </tr> 
   <tr>
    <td colspan="3">Recargo al envío</td>
	<td>5</td>
   </tr> 
   <tr>
    <td colspan="3">Precio total</td>
	<td>255</td>
   </tr> 
  </table>
  <marquee><p>Fabricio Aguirre, *Derechos Reservados 2024</p></marquee>  
</body>
</html>